.body{
    display: flex; 
    justify-content: center;  
}
.App-wrapper{
    width: 1000px;
    margin: 10px;
    padding: 10px;
    background-color: red;
    border: 3px solid;
}
.testButton{
    margin: 10px;
}
.error-message{
    font-size: 30px;
    text-align: center;
}