.InfoBlock-wrapper{
    background-color: red;
    border: 3px solid;
    margin: 10px;
    padding: 10px;
    width: 200px;
}
.timeImg{
    width: 150px;
    align-items: center;
    text-align: center;
}